.toggle-category{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.category-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.active-category {
  border-bottom: 0.5px solid #c0c0c0 ;
}
