<div class="toggle-category">
  <h3 (click)="toggleAplha()" class="cursor-pointer category-button">Sort By Alphabet
    <img *ngIf="isAlphaVisible" src="../../../assets/svg/add.svg" alt="">
    <img *ngIf="!isAlphaVisible" src="../../../assets/svg/add-left.svg" alt="">
  </h3>
  <ul *ngIf="isAlphaVisible" role="list"
    class="space-y-4 border-b border-gray-200 pb-6 text-sm font-medium text-gray-900 p-1">
    <li [class.active-category]="sortOrderAlpha == 'asc'">
      <a href="javascript:void(0)" (click)="productsByAlpha('asc')" class="category-name">A - Z</a>
    </li>
    <li [class.active-category]="sortOrderAlpha == 'desc'">
      <a href="javascript:void(0)" (click)="productsByAlpha('desc')" class="category-name">Z - A</a>
    </li>
    <li [class.active-category]="sortOrderAlpha == ''">
      <a href="javascript:void(0)" (click)="productsByAlpha('')" class="category-name">Reset</a>
    </li>
  </ul>
</div>
